body {
  margin: 0;
  font-family: "Inter", -apple-system, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

button, input {
  font-family: "Inter", -apple-system, system-ui;
  outline: 0;
  outline-offset: 0;
  border: 0;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .headerLeft {
  display: flex;
  align-items: center;
}
header .headerLeft svg {
  margin-right: 15px;
}
header .headerLeft h3,
header .headerLeft p {
  margin: 0;
}
header .headerRight {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
header .headerRight :last-child {
  margin-right: 0;
}
header .headerRight li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
header .headerRight li svg {
  margin-right: 10px;
  cursor: pointer;
}

.content {
  padding: 40px;
}
.contentTitle {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}
.contentTitle h1 {
  margin: 0;
}
.contentTitle .search {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 16px;
}
.contentTitle .search input {
  border: 0;
  padding: 10px;
  font-size: 16px;
}

.sneakers {
  display: flex;
}
.sneakers :last-child {
  margin-right: 0;
}

.card {
  border: 1px solid #F3F3F3;
  padding: 20px;
  width: 210px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  position: relative;
  transition: box-shadow 0.3s, top 0.3s ease-in-out;
}
.card:hover {
  top: -5px;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
}
.card .favorite {
  cursor: pointer;
  position: absolute;
}
.card p {
  font-weight: 400;
  font-size: 14px;
}
.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardBottom button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  cursor: pointer;
}
.cardBottomDescription {
  display: flex;
  flex-direction: column;
}
.cardBottomDescription span {
  font-size: 11px;
  color: #BDBDBD;
  text-transform: uppercase;
}
.cardBottomDescription b {
  font-size: 13px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.overlay .drawer {
  width: 385px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.overlay .drawerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay .drawerTitle span {
  color: #949494;
  cursor: pointer;
  border: 1px solid #949494;
  border-radius: 8px;
  padding: 5px 8px;
}
.overlay .drawer .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #d0cece;
  border-radius: 20px;
  margin: auto auto 20px;
}
.overlay .drawer .items {
  flex: 1;
}
.overlay .drawer .itemContent {
  width: 200px;
}
.overlay .drawer .itemContent p {
  margin: 0;
}
.overlay .drawer .item button {
  padding: 6px 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #a2a2a2;
  color: #a2a2a2;
  cursor: pointer;
}
.overlay .drawer .finalPrice {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay .drawer .finalPrice button {
  background-color: #9DD458;
  width: 100%;
  height: 55px;
  border-radius: 18px;
  color: #fff;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.overlay .drawer .finalPrice button:hover svg {
  right: 30px;
}
.overlay .drawer .finalPrice button svg {
  position: absolute;
  right: 40px;
  top: 40%;
  transition: right 0.3s ease-in-out;
}
.overlay .drawer .finalPrice li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.overlay .drawer .finalPrice li div {
  flex: 1;
  border-bottom: 1px dashed #a2a2a2;
  padding: 5px;
  margin: 0 5px;
}
.overlay .drawer .finalPrice li p {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
